<% provide(:title,"Contact") %> 

<div class="well">
  <div class="form-horizontal">
    <div class="input-group">
      <input type = "text" name = "name" > 
      <button class="bg-primary btn btn-lg">submit</button>
      
    </div>
    
  </div>
  
</div>